@import url("https://fonts.cdnfonts.com/css/avenir");
@import "tailwindcss";

@theme {
	--font-avenir: "Avenir", sans-serif;
	--font-roboto: "Roboto", sans-serif;
	--font-slab: "Roboto Slab", serif;
}

body {
	@apply font-roboto bg-gray-950;
}
